img.me {
  width: 186px;
  height: 186px;
  border-radius: 93px;
}

.reveal p {
  font-size: 0.5em;
}

.reveal .lots-of-stuff p { font-size: 0.4em; }

.reveal .top-buffer { margin-top: 2em; }
.contact-label { color: #aaa; }

.red { color: red; }

button.navigate-left, button.navigate-right { display: none; }

.extra-links { z-index: 1; top: 1em; right: 1em; position: absolute; }
.extra-links a { text-decoration: none; color: #888; }
.extra-links a:hover { text-decoration: underline; text-shadow: none; border: none; color: #444; }
